.dashboard-container {
  background: image-url('bondcar.jpg');
  background-position: center;
  background-size: cover !important;
  min-height: 100vh;
}

.flex-container {
  display:flex;
}

.left {
  flex: 1 0 50%;
  color: white;
}

.right {
  flex: 1 0 50%;
  color: white;

}

.right .dashboard-card, .left .dashboard-card{
  background-color:  #970747;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}

.car-card, .booking-card {
  background-color: white;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  color: black;
  max-width: 300px;

}



.btn-twitter {
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 10px;
  background: #6AD58B;
  transition: background 0.3s ease;
}
.btn-twitter:hover {
  background: #3ac162;
  text-decoration: none;
  color: white;
}

.car-card-photo {
  height: 200px;
  width: auto;
}
