<div class="dashboard-container">
  <div class="flex-container">

    <div class="left">
      <div class="listings-cards">
        <div class="dashboard-card">
          <h4>Your Listings</h4>
          <p> listing 1</p>
          <p> listing 2</p>
          <p> listing 3</p>
        </div>
          <%= link_to "List another car", new_car_path %>
      </div>
    </div>

    <div class="right">
      <div class="bookings-cards">
        <div class="dashboard-card">
          <h4>Your Bookings</h4>
          <p>booking 2</p>
          <p>booking 3</p>
        </div>

      </div>
    </div>

  </div>
</div>


