<div class="dashboard-container">
  <div class="dashboard-banner">
    <div class="main-header">
      <h1>Bookings Inbox</h1>
    </div>

  <% if user_signed_in? %>
    <div class="create-account-cta text-center">
<!--       <%#=link_to "check your bookings", bookings_path, class: "btn-treehouse"%>
 -->      <div class="messages">
                <div class="message-card">
                  <h1>Messages from bookees</h1>
                </div>
               </div>
      </div>
  <% else %>
    <div class="create-account-cta text-center">
<!--       <%#=link_to "Signup", new_user_registration_path, class: "btn-treehouse"%>
 -->    </div>
  <% end %>

  </div>
</div>
