<div class="dashboard-container">
  <div class="dashboard-banner">
    <div class="main-header">
      <h1>Bookings Dashboard</h1>
    </div>
    <div class="new-container">
     <div class="your-car-bookings">
      <h1>Cars of yours that are booked</h1>
    <h3>I deleted a link here</h3>

     </div>
     <div class="your-bookings">
      <h1>Your bookings for other people's cars</h1>
      <h3><%= link_to "See all cars", cars_path %></h3>


     </div>
    </div>
  </div>
</div>

