<!-- <p><a href="#" class='btn-twitter'>Log in</a></p> -->
<div class="home-container">
  <div class="home-banner">
    <div class="main-header">
      <h1>Rent out my classic car </h1>
    </div>

  <% if user_signed_in? %>
    <div class="create-account-cta text-center">
      <%=link_to "browse", cars_path, class: "btn-treehouse"%>
    </div>
  <% else %>
    <div class="create-account-cta text-center">
      <%=link_to "Signup", new_user_registration_path, class: "btn-treehouse"%>
    </div>
  <% end %>

  </div>
</div>




