<p><a href="#" class='btn-twitter'>Log in</a></p>
<div class="home-container">
  <div class="home-banner">
    <div class="main-header">
      <h1>Rent a classic car for the weekend</h1>
    </div>

    <div class="create-account-cta text-center">
      <a href="#" class="btn-treehouse">Create an account</a>
    </div>
  </div>
</div>




