.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}


.fa-facebook-f{
  background-color: blue;
  color: #fff;
}

.fa-github{
  background-color: black;
  color: #fff;
}

.fa-instagram{
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 20%;
  background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf)
}

.fa-twitter{
  background-color: #00BBF0;
  color: #fff;
}

.fa-linkedin{
  background-color: #fff;
  color:  #4da6ff;
;
}
