<div class="container">
  <div class="row">

  <% @cars.each do |car| %>

      <div class="col-xs-12 col-sm-3">

        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.thehansindia.com/assets/3065_Vintage_Cares.jpg');">
          <div class="card-category"><%= car.make.upcase %></div>
          <div class="card-description">
            <p>£<%= car.price_per_day %></p>
          </div>
          <%= link_to "", car_path(car), class: "card-link"  %>
        </div>

      </div>

  <% end %>

  </div>
</div>
