

  <div class="banner-content">
    <h1><%= @car.make %> <%= @car.model %></h1>

    <p>How amazing would it be to drive this beauty?</p>

  </div>
</div>


<% if current_user == @car.user %>
<%= link_to "edit", edit_car_path(@car), class: "btn btn-primary"  %>
<% end %>

